# Main dependencies
PySide6-Essentials >= 6.5.0
pint < 0.22; platform_system == 'windows'  # 0.22 dropped Py 3.8 support, thus Win7 support
pint; platform_system != 'windows'
platformdirs >= 2.6.0
ijson >= 3.1.0; python_version < '3.11'
ijson >= 3.2.0; python_version >= '3.11'
delegateto == 1.5
truststore; python_version >= '3.10'
certifi; python_version < '3.10'

# Development, testing and build dependencies
cx_Freeze >= 6.11.1
pytest-runner
pytest
pytest-cov
pytest-timeout
pytest-qt >= 2.0
PyHamcrest >= 2
build
tox >= 3.8
