# Main dependencies

PyQt5
pint
appdirs >= 1.4.3
ijson >= 3.1.0
delegateto == 1.5
PyHamcrest >= 1.8.1

# Development, testing and build dependencies
cx_Freeze >= 6.6
pytest-runner
pytest
pytest-cov
pytest-timeout
pytest-qt >= 2.0
PyHamcrest >= 1.8.1
PyQt5-stubs
sip
build
tox >= 3.8
