# Main dependencies
PySide6-Essentials >= 6.4.0
pint
appdirs >= 1.4.3
ijson >= 3.1.0; python_version < '3.11'
ijson >= 3.2.0; python_version >= '3.11'
delegateto == 1.5
truststore; python_version >= '3.10'
certifi; python_version < '3.10'

# Development, testing and build dependencies
cx_Freeze >= 6.11.1
pytest-runner
pytest
pytest-cov
pytest-timeout
pytest-qt >= 2.0
PyHamcrest >= 2
build
tox >= 3.8
